body{
  background-image: url('http://i125.photobucket.com/albums/p41/Into_The_Twilight/Static.gif');
  display: flex;
  background-position: center;
  background-size: cover;
  justify-content: space-between;;
  align-items: center;;
}

#titler {
  color: turquoise;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vw;
  text-align: center;
  font-size: 8vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  margin-top: 0;
}

.innerHeader {
  color: turquoise;
  height: 5vw;
  text-align: center;
  font-size: 3vw;
  background-color: rgba(0, 0, 0, 0.9);
  width: 40vw;
  border: 2vw solid black;
  border-bottom: 0;
  margin-bottom: -1vw;
}
.boxer{
  margin-top: 10vw;
  background-color: black;
}

#textForTranslation, #display {
  background-color: white;
  border: 2vw solid black;
  width: 40vw;
  height: 50vw;
  max-height: 60vh;
  overflow: scroll;
}

#textForTranslation{
  resize: none;
  width: 40vw;
}

#display{
  word-wrap: break-word;
}
